
Functional Requirements:

1. Admin Module:
	a. Login / Logout:
	Implement authentication using JWT.

	b. Add a new User (Admin):
	Only the main admin can add new admin users; other admins cannot sign up independently.

	c. Manage Cities:
	Admins can add, edit, and delete city records.

	d. Add a new Car:
	Admins can register new Cars

	e. Edit/Delete Existing Car:
	Admins can update car details or remove cars from the database.

	f. Contact Us Queries:
	Admins can view, respond to, and close customer queries.

	g. View and Manage Bookings:
	Admins can view all bookings, cancel bookings if necessary, and handle booking-related issues.

	h. View and Manage Customers:
	Admin can manage customers.


2. Customer Module:

	a. Login / Logout:
	Implement user authentication using JWT.

	b. View Cars:
	Customers can view Available cars.

	c. Booking a Car:
	Customers can select a car, specify booking dates, and confirm bookings.

	d. Ask Queries through Contact Admin:
	Customers can submit queries or issues to the admin, track query status, and view responses.

	e. View Bookings:
	Customers can view details of previous and upcoming bookings.
	
	f. Cancel Bookings:
	Customers can cancel bookings.

	g. Manage Profile:
	Customers can edit their profile details such as email, phone number, and address.
	
	h. Rate and review a Car
	Customers can rate a car based on their booking experience.


3. Driver Module:  
	a. Cancel and View Bookings

 
Logics related to discounts : 
1. Seasonal Discount: 10% off in December month
2. Loyalty Discount: 5% off for customers with more than 5 bookings


Logics related to cancellation charges : 
1. If the customer cancels 48 hours or more before the booking start date, no cancellation fee is applied.
2. If the customer cancels within 48 hours of the booking start date, a cancellation fee is charged. 
	cancellation fee will be dynamic like based on no. of hours after the free cancellation booking start date.

