body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px; /* Add padding to align with Bootstrap container */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.card {
  background-color: #1e1e1e;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  margin-bottom: 15px; /* Remove margin between cards */
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.card-text {
  font-size: 1em;
  margin-bottom: 5px;
  color: #b0b0b0;
}

.btn-edit, .btn-delete {
  margin-right: 10px;
}

.btn-edit {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-edit:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-delete {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.modal-content {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: none;
}

.modal-header,
.modal-body {
  border-bottom: 1px solid #333333;
}

.modal-title {
  color: #ffffff;
}

.btn-close {
  filter: invert(1);
}

.form-label {
  font-weight: bold;
}

.form-control,
.form-select {
  background-color: #2b2b2b;
  color: #e0e0e0;
  border: 1px solid #444444;
}

.form-control:focus,
.form-select:focus {
  background-color: #333333;
  border-color: #555555;
  color: #e0e0e0;
}

button[type="submit"] {
  width: 100%;
}

.form-control::placeholder, .form-select::placeholder {
  color: #e0e0e0; /* Make placeholder text white */
  opacity: 1; /* Make placeholder text fully visible */
}

@media (max-width: 576px) {
  .card {
      flex-basis: calc(100% - 20px); /* Adjust card width for small screens */
  }
}

@media (min-width: 576px) {
  .card {
      flex-basis: calc(50% - 20px); /* Adjust card width for medium screens */
      margin-left: 10px;
      margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .card {
      flex-basis: calc(33.33% - 20px); /* Adjust card width for large screens */
      margin-left: 10px;
      margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .card {
      flex-basis: calc(33.33% - 20px); /* Adjust card width for large screens */
  }
}

@media (min-width: 1200px) {
  .container {
      padding: 0; /* Reset padding for extra large screens */
  }
}

.error {
  border-color: #ff293e !important;
  box-shadow: 0 0 0 0.2rem rgba(215, 20, 39, 0.785) !important;
}

.correct {
  border-color: #2aff5c !important;
  box-shadow: 0 0 0 0.2rem rgb(18, 255, 73) !important;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}
